
@model IEnumerable<WebApplication4.Models.EmployeeDetail>
@{
    Layout = null;
}


    <div>
        <table>
            <tr>
                <td>EmployeeId</td>
                <td>EmployeeName</td>
                <td>EmployeeContact</td>
                <td>EmployeeCountry</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.EmployeeID)</td>
                    <td>@Html.DisplayFor(m => item.EmployeeName)</td>
                    <td>@Html.DisplayFor(m => item.EmployeeContact)</td>
                    <td>@Html.DisplayFor(m => item.EmployeeCountry)</td>
                    <td>@Ajax.ActionLink("Edit","DisplayEmployeeDetails",item ,new AjaxOptions{ HttpMethod = "Post" })</td>

                </tr>

            }
        </table>

    </div>


